.App {
  text-align: center;
}

.App__navbar{
   color: red;
   height: 10vh;
   padding: 20px;
}

h1 {
  font-weight: 900;
  color:black;
}

h2 {
  font-weight: 600;
}


.modal {
  width: 80vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: auto;
  background-color: white;
  position: relative;
}

.modal__button {
  position: absolute;
  bottom: 3%;
  right:3%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper__content {
  flex: 1;
  background-color: tomato;
  display: flex;
  flex-direction: row;
}

.content__cover {
  flex: 1;
}

.cover__image {
  width: 100%;
}

.content__details {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.details--add-collection {
  margin: 5px 20px;
}

.wrapper__video {
  flex: 1;
  background-color: pink;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




