.App {
  text-align: center;
}

.App__navbar{
   color: red;
   height: 10vh;
   padding: 20px;
}

h1 {
  font-weight: 700;
  color: red;
}

h2 {
  font-weight: 600;
}

p {

}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




