.release{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* min-width: 100px; */
  /* max-width: 100px; */
  margin: 20px auto;
  position: relative;
}

.release__cover {
  width: 200px;
}

.release__community {
  text-align: left;
}

/* .title {

}

.label {

}

.country {

}

.have {

}

.want {

} */
