.release{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* min-width: 100px; */
  /* max-width: 100px; */
  margin: 20px auto;
  position: relative;
}

.release__cover {
  width: 200px;
}

.release__cover:hover {
  transform: scale(1.1);
}

.release--icon:hover + .add--icon {
  display: block;
}

.add--icon {
  position: absolute;
  left: 70px;
  top: 90px;
  display:  none;
  color: white;
  font-size: 3rem;
}


.release__community {
  text-align: left;
}

/* .title {

}

.label {

}

.country {

}

.have {

}

.want {

} */
